:root {
  --interactive-color: #2196f3;
  --logo-color: #000000;
  --headers-color: #212121;
  --text-color: #757575;
  --white-text-background-color: rgba(255, 255, 255, 1);
  --white-text-color-06: rgba(255, 255, 255, 0.6);
  --sections-background-color: #e5e5e5;
  --section-team-background-color: #f5f4fa;
  --border-color: rgba(238, 238, 238, 1);
  --footer-bg-color: #2f303a;
}

/* Загальні стилі для боді і списків */
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

/* Заховати заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стилі контейнера */

.container {
  outline: 4px solid tomato;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-list,
.contacts-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.contacts-list {
  margin-left: auto;
}

.header {
  outline: 1px solid green;

  /* width: 1600px;
  background-color: var(--white-text-background-color); */
}

.contacts-list .item + .item {
  margin-left: 50px;
}

.main-nav,
.site-nav,
.nav-list,
.contacts-list {
  display: flex;
}

.main-nav {
  align-items: center;
}

.nav-item,
.contacts-item {
  display: block;
}

.nav-list > .nav-item:not(:last-child) {
  margin-right: 50px;
}

/* логотип компанії */
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.17;
}

.top {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--logo-color);
}

.logo:focus {
  color: var(--interactive-color);
}

.logo-part {
  color: var(--interactive-color);
}

/* Навігація сайту */
.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--headers-color);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--interactive-color);
}

.nav-list .link.current {
  color: var(--interactive-color);
}

/* контактна інфо */
.contacts-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--interactive-color);
}

/* section Hero */

.hero-title,
.hero-link {
  margin: 0;
}

.hero-section {
  text-align: center;
}

.hero-title {
  outline: 5px solid yellowgreen;
  min-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  color: var(--white-text-background-color);
  background-color: #2f303a;
  font-family: inherit;
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}

.hero-link {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;

  border: 1px solid transparent;

  color: var(--white-text-background-color);
  background-color: var(--interactive-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--headers-color);
}

/* Секція Features */

.features-list,
.item-title,
.item-text {
  margin: 0;
  padding: 0;
}

.features-list {
  display: flex;
}

.item-title {
  color: var(--headers-color);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
}

.item-text {
  color: var(--text-color);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.examples-title {
  color: var(--headers-color);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
}

.team-section {
  background-color: var(--sections-background-color);
}

.team-section-title {
  color: var(--headers-color);
  background-color: var(--section-team-background-color);
  font-family: inherit;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
}

.section-list-title {
  color: var(--headers-color);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.17;
}

.section-list-text {
  color: var(--text-colorcolor);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.17;
}

/* footer */
.footer {
  outline: 3px solid red;
  background-color: var(--footer-bg-color);
}

.address-text,
.footer-list {
  margin: 0;
  padding: 0;
}

.bottom {
  display: block;
  padding-top: 58px;

  color: var(--white-text-background-color);
}

.address-text {
  margin-top: 22px;

  color: var(--white-text-background-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-list {
  margin-top: 9px;
}

.contacts-list-item {
  display: block;
  padding-top: 9px;

  color: var(--white-text-color-06);
  font-family: inherit;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.contacts-list-item:hover,
.contacts-list-item:focus {
  color: var(--interactive-color);
}

/* Стилі портфоліо */
.btn {
  background-color: var(--section-team-background-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.btn:hover,
.btn:focus {
  color: var(--interactive-color);
}

.project-item {
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
}

.project-title {
  color: var(--headers-color);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.project-type {
  color: var(--text-color);
  background-color: var(--white-text-background-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
